* {
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

header {

}

label {
    background-color: #b3d2e5;
    margin: 5px;
    font-weight: bold;
    padding: 5px;
    color: #090950;
    border-radius: 15%;
    border: 1px solid #0c1d4e;
    /*background: linear-gradient(#d9b3b4, #ad7474);*/
    /*background: linear-gradient(to bottom, rgba(49, 68, 198, 0.4), rgba(70, 134, 78, 0.6));*/
}

.container {
    max-width: 1200px;
    margin: auto;
}

.container-1 {


    background-image: linear-gradient(to top, rgba(70, 134, 78, 0.7), rgba(49, 68, 198, 0.5)), url("vienna.jpeg");
    /*background-image: url('vienna.jpeg');*/
    background-size: 100%;
    background-color: #fff;
    /*height: 100px;*/
    /*margin: 25px;*/
}

.h1_header {
    text-align: center;
    padding-top: 12px;
    padding-bottom: 25px;
}

.formClass {
    display: flex;
    flex-direction: column;
}

.firstForm {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin-right: 15px;
}

.save {
    color: white;
    background-color: royalblue;
}

.btnSave {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 25px;
}

.divSelect, .selectType {
    display: flex;
    justify-content: center;
    margin: 15px;
}

input:disabled {
    background-color: #783434;
}

input:focus {
    background-color: royalblue;
    color: #fff;
}

table {
    margin-top: 3px;
    border-collapse: collapse;
    border: 3px solid goldenrod;
    color: #c4882a;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background:  radial-gradient(farthest-corner at 50% 50%, white, #DCECF8);
    line-height: 1.8;
    width: 100%;
    text-align: center;
}

th {
    padding: 10px;
    border: 1px solid #A9E2CC;
    color: darkblue;
    border-bottom: 2px solid #6678b1;
}

td {
    font-size: 1em;
    padding: 5px 10px;
    border: 1px solid #A9E2CC;
    transition: .3s linear;
}

tr:hover td {
    color: #6699ff;
}

/*td:last-child:hover {*/
/*    background-color: #d5bcbc;*/
/*}*/

.btn:hover {
    cursor: pointer;
    background-color: #7f0808;

}
